body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: white;
  color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo {
  width: 200px;
  height: auto;
  margin: 0;
}

/* Navigation styles */
nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a.orange-button,
.orange-button {
  background-color: #ff6600;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  display: inline-block;
}

nav ul li a.orange-button:hover,
.orange-button:hover {
  background-color: #cc5200;
}

.get-involved-section {
  background-color: white;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-heading {
  text-align: center;
  font-size: 2rem;
  color: #54a4a1;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.content-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.text-block {
  flex: 1;
  max-width: 50%;
}

.text-block p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0 0 20px;
}

.qr-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.button-block {
  margin-top: 20px;
}

.image-placeholder {
  flex: 1;
  max-width: 50%;
  background-color: #f4f4f4;
  height: 300px;
}

.links-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
}

.links-list li {
  margin-bottom: 10px;
}

.links-list a {
  color: #54a4a1;
  text-decoration: none;
}

.links-list a:hover {
  text-decoration: underline;
}

footer {
  background-color: #d3d3d3;
  color: #333;
  text-align: center;
  padding: 1rem 0;
  margin-top: 50px;
}

footer .social-media {
  margin-top: 10px;
}

footer .social-media img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  vertical-align: middle;
}

footer .social-media a {
  color: #333;
  text-decoration: none;
}
